<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="lib/vue.min.js"></script>
    <script src="lib/lodash.min.js"></script>

    <script src="js/script.js"></script>

    <link rel="stylesheet" href="css/styles.css">

    <title>Gestionnaire restaurants VueJS</title>
</head>

<body>
<div id="app">
    <h2>{{msg}}</h2>
   <!-- <button v-on:click="getRestaurantsFromServer()">test récupération des restaurants</button> --> 
    <form @submit.prevent="ajouterRestaurant(event)">
        <label>
            Nom : <input name="nom" type="text" required v-model="nom">
        </label>
        <label>
            Cuisine : <input name="cuisine" type="text" required v-model="cuisine">
        </label>

        <button>Ajouter</button>
    </form>

    <h1>Nombre de restaurants : {{nbRestaurantsTotal}}</h1>
    <!--<p>Chercher par nom : <input @input="chercherRestaurant()" type="text" v-model="nomRestaurantRechercher"></p>-->
    <p>Chercher par nom : 
        <input @input="chercherRestaurants()" type="text" v-model="nomRestauRecherche"></p>

    <p>Nb de page total : {{nbPagesTotal}}</p>
    <p>Nombre de restaurant par page :
        <input
            @input="getRestaurantsFromServer()"
            type="range" min=2 max=100  v-model="pagesize">{{pagesize}} </p>


    <button :disabled="page===0" @click="pagePrecedente()">Précédent</button>&nbsp&nbsp
    <button :disabled="page===nbPagesTotal" @click="pageSuivante()">Suivant</button>
    &nbsp Page courange: {{page}}
    <md-table>
        <md-table-row>
            <md-table-head>Nom</md-table-head>
            <md-table-head>Cuisine </md-table-head>
        </md-table-row>
        <tbody>
            <md-table-row v-for="r,index in restaurants" v-on:click="supprimerRestaurant(r)" v-bind:style="{backgroundColor:getColor(index)}"
                v-bind:class="{bordureRouge:(index === 2)}">
                <md-table-cell>{{r.name}}</md-table-cell>
                <md-table-cell> {{r.cuisine}}</md-table-cell>

            </md-table-row>
        </tbody>
    </md-table>
</div>
</body>

</html>